<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
 
    <!-- Cart -->
    <div class="cart"><h5>0</h5></div>
    <img src="../static/images/cart-img.png" alt="Cart Image" class="cart-img">

    <!-- End of cart -->

    <div class="container-fluid first-header mt-1">

        <!-- Brand -->
        <div class="brand first-header-cont">
            <h1 class="text-center mt-1 mb-1">Store Manager</h1>
        </div>

        <!-- Search  -->
        <div class="search first-header-cont">

            <div class="form-cont">
            <form> 
                <input type="text" placeholder="What Do You Want To look For" name="search" class="text-center">

                <input type="submit" value="search">
            </form>
        </div>
        </div>

        <!-- Account -->
        <div class="account first-header-cont">
                <h1 class="text-center">Account</h1>
            <ul class="account-list">
                <li><a href="Admin_dashboard.html" class="link">My DashBoard</a></li>
                <li><a href="#" class="link">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid second-header mt-1">
            <!-- Nav bar -->
            <ul class="navbar">
                <li><a href="#" class="link">Apple</a></li>
                <li><a href="#" class="link">Lenovo</a></li>
                <li><a href="#" class="link">Hp</a></li>
                <li><a href="#" class="link">Acer</a></li>
                <li><a href="#" class="link">Dell</a></li>
            </ul>     
    </div>

    <!-- Products counter Available Products -->

        <div class="products-counter-banner mt-1">
            <div class="products-info">

                <!-- Table -->
                <table class="products-info-table">

                    <tr>
                        <th colspan="5"><p class="table-d">Available Products</p></th>
                    </tr>

                    <tr class="tr">
                        <th>MacBook</th>
                        <th>Lenovo</th>
                        <th>Hp</th>
                        <th>Acer</th>
                        <th>Dell</th>
                    </tr>
                    <tr class="tr">
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </table>
            </div>
        </div>

    <!-- End of product counter -->

    <!-- Apple -->
    <div class="container-fluid mt-1">

        <!-- Apple products -->

        <div class="container-fluid parent-container">
            <div class="child-container">
                <!-- Apple product 1 -->
                <div class="container-fluid">
                    <img src="../static/images/apple/apple 2.jpg" alt="" class="child-image">
                </div>

                <div class="container-fluid">
                    <h3 class="heading">MacBook</h3>
                </div>

                <div class="container-fluid">
                    <table class="table">
                        <tr class="table-row">
                            <td>Price</td>
                            <td>Ksh 100,000</td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>MacBook</td>
                        </tr>
                    </table>
                </div>

                <div class="container-fluid">
                    <div class="add-to-cart-btn-cont">
                        <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                    </div>

                    <div class="add-to-cart-btn-cont del">
                        <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                    </div>
                </div>

            <!-- End of product one -->
            </div>
            <div class="child-container">

                <!-- Apple product 2 -->
                <div class="container-fluid">
                        <img src="../static/images/apple/2-min-1-8.png" alt="" class="child-image">
                </div>

                <div class="container-fluid">
                    <h3 class="heading">MacBook</h3>
                </div>

                <div class="container-fluid">
                    <table class="table">
                        <tr class="table-row">
                            <td>Price</td>
                            <td>Ksh 200,000</td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>MacBook</td>
                        </tr>
                    </table>
                </div>

                <div class="container-fluid">
                    <div class="add-to-cart-btn-cont">
                        <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                    </div>

                    <div class="add-to-cart-btn-cont del">
                        <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                    </div>
                </div>

                <!-- End of product two -->
            </div>

            <div class="child-container">

                <!-- Apple product 3 -->
                <div class="container-fluid">
                    <img src="../static/images/apple/5793551_sa.jpg" alt="" class="child-image">
                </div>

                <div class="container-fluid">
                    <h3 class="heading">MacBook</h3>
                </div>

                <div class="container-fluid">
                    <table class="table">
                        <tr class="table-row">
                            <td>Price</td>
                            <td>Ksh 250,000</td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>MacBook</td>
                        </tr>
                    </table>
                </div>

                <div class="container-fluid">
                    <div class="add-to-cart-btn-cont">
                        <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                    </div>

                    <div class="add-to-cart-btn-cont del">
                        <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                    </div>
                </div>

                <!-- End of product three -->
            </div>


            <div class="child-container">

                <!-- Apple product 4 -->
                <div class="container-fluid">
                    <img src="../static/images/apple/apple 1.jpg" alt="" class="child-image">
                </div>

                <div class="container-fluid">
                    <h3 class="heading">MacBook</h3>
                </div>

                <div class="container-fluid">
                    <table class="table">
                        <tr class="table-row">
                            <td>Price</td>
                            <td>Ksh 100000</td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>MacBook</td>
                        </tr>
                    </table>
                </div>

                <div class="container-fluid">
                    <div class="add-to-cart-btn-cont">
                        <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                    </div>

                    <div class="add-to-cart-btn-cont del">
                        <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                    </div>
                </div>

                <!-- End of product four -->
            </div>
        </div>
    </div>


        <!-- Lenovo -->
        <div class="container-fluid mt-1">
        
                <!-- lenovo products -->
        
                <div class="container-fluid parent-container">
                    <div class="child-container">
                        <!-- lenovo product 1 -->
                        <div class="container-fluid">
                            <img src="../static/images/lenovo/Lenovo-Ideapad-Black-Laptop-4GB-1TB-DOS-Integrated-Graphics.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Lenovo Ideapad</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 70,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Black Laptop 4GB 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product one -->
                    </div>
                    <div class="child-container">
        
                        <!-- lenovo product 2 -->
                        <div class="container-fluid">
                                <img src="../static/images/lenovo/Lenovo_11433FU_ThinkPad_Edge_E520_15_6_778906.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Lenovo ThinkPad Edge</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 60,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB of RAM 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product two -->
                    </div>
        
                    <div class="child-container">
        
                        <!-- lenovo product 3 -->
                        <div class="container-fluid">
                            <img src="../static/images/lenovo/B0748KXSHM_large1.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Lenovo ThinkPad</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 250,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB of RAM 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product three -->
                    </div>
        
        
                    <div class="child-container">
        
                        <!-- Lenovo product 4 -->
                        <div class="container-fluid">
                            <img src="../static/images/lenovo/lenovo-laptop-500x500.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Lenovo ThinkPad</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 100000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Lenovo ThinkPad</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product four -->
                    </div>
                </div>
            </div>



        <!-- Hp -->
        <div class="container-fluid mt-1">
        
                <!-- Hp products -->
        
                <div class="container-fluid parent-container">
                    <div class="child-container">
                        <!-- Hp product 1 -->
                        <div class="container-fluid">
                            <img src="../static/images/hp/hp-pavilion-15-R-laptop-prices-in-Pakistan.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Hp pavilion</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 80,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Red Laptop 4GB 500Gb Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product one -->
                    </div>
                    <div class="child-container">
        
                        <!-- Hp product 2 -->
                        <div class="container-fluid">
                                <img src="../static/images/hp/1042477_0_original.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Hp ProBook</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 80,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB of RAM 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product two -->
                    </div>
        
                    <div class="child-container">
        
                        <!-- Hp product 3 -->
                        <div class="container-fluid">
                            <img src="../static/images/hp/HP-15-Laptop.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Hp ProBook</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 96,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB of RAM 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product three -->
                    </div>
        
        
                    <div class="child-container">
        
                        <!-- Hp product 4 -->
                        <div class="container-fluid">
                            <img src="../static/images/hp/HP-Pavilion-15-cc055tx-1-500x500-min.png" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Hp pavilion</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 100,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Hp pavilion</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product four -->
                    </div>
                </div>
            </div>



        <!-- Acer -->
        <div class="container-fluid mt-1">
        
                <!-- Acer products -->
        
                <div class="container-fluid parent-container">
                    <div class="child-container">
                        <!-- Acer product 1 -->
                        <div class="container-fluid">
                            <img src="../static/images/acer/6264508_sa.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Acer</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 80,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB 500Gb Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product one -->
                    </div>
                    <div class="child-container">
        
                        <!-- Acer product 2 -->
                        <div class="container-fluid">
                                <img src="../static/images/acer/40783338_xxlg_0.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Acer</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 80,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Acer</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product two -->
                    </div>
        
                    <div class="child-container">
        
                        <!-- Acer product 3 -->
                        <div class="container-fluid">
                            <img src="../static/images/acer/VX5-591G-NH.GM2SI-1.jpg" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Acer</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 96,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>4GB of RAM 1TB DOS Integrated Graphics</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product three -->
                    </div>
        
        
                    <div class="child-container">
        
                        <!-- Acer product 4 -->
                        <div class="container-fluid">
                            <img src="../static/images/acer/40783338_xxlg_0.jpg" alt="" class="child-image">
                        </div>
        
                        <div class="container-fluid">
                            <h3 class="heading">Acer</h3>
                        </div>
        
                        <div class="container-fluid">
                            <table class="table">
                                <tr class="table-row">
                                    <td>Price</td>
                                    <td>Ksh 100,000</td>
                                </tr>
        
                                <tr>
                                    <td>Description</td>
                                    <td>Acer</td>
                                </tr>
                            </table>
                        </div>
        
                        <div class="container-fluid">
                            <div class="add-to-cart-btn-cont">
                                <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                            </div>

                            <div class="add-to-cart-btn-cont del">
                                <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                            </div>
                        </div>
        
                        <!-- End of product four -->
                    </div>
                </div>
            </div>


             <!-- Dell -->
        <div class="container-fluid mt-1">
        
            <!-- Dell products -->
    
            <div class="container-fluid parent-container">
                <div class="child-container">
                    <!-- Dell product 1 -->
                    <div class="container-fluid">
                        <img src="../static/images/dell/Dell Inspiron.jpg" alt="Dell Inspiron" class="child-image">
                    </div>
    
                    <div class="container-fluid">
                        <h3 class="heading">Dell Inspiron</h3>
                    </div>
    
                    <div class="container-fluid">
                        <table class="table">
                            <tr class="table-row">
                                <td>Price</td>
                                <td>Ksh 70,000</td>
                            </tr>
    
                            <tr>
                                <td>Description</td>
                                <td>4GB 500Gb Integrated Graphics</td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="container-fluid">
                        <div class="add-to-cart-btn-cont">
                            <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                        </div>

                        <div class="add-to-cart-btn-cont del">
                            <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                        </div>
                    </div>
    
                    <!-- End of product one -->
                </div>
                <div class="child-container">
    
                    <!-- Dell product 2 -->
                    <div class="container-fluid">
                            <img src="../static/images/dell/Dell Inspiron 11 3162 11.6-inch Laptop.jpg" alt="Dell Inspiron" class="child-image">
                    </div>
    
                    <div class="container-fluid">
                        <h3 class="heading">Dell Inspiron</h3>
                    </div>
    
                    <div class="container-fluid">
                        <table class="table">
                            <tr class="table-row">
                                <td>Price</td>
                                <td>Ksh 80,000</td>
                            </tr>
    
                            <tr>
                                <td>Description</td>
                                <td>11.6-inch Laptop</td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="container-fluid">
                        <div class="add-to-cart-btn-cont">
                            <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                        </div>

                        <div class="add-to-cart-btn-cont del">
                            <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                        </div>
                    </div>
    
                    <!-- End of product two -->
                </div>
    
                <div class="child-container">
    
                    <!-- Dell product 3 -->
                    <div class="container-fluid">
                        <img src="../static/images/dell/DELL INSPIRON 14-3467 i3 7th Gen-500x500.jpg" class="child-image">
                    </div>
    
                    <div class="container-fluid">
                        <h3 class="heading">DELL INSPIRON</h3>
                    </div>
    
                    <div class="container-fluid">
                        <table class="table">
                            <tr class="table-row">
                                <td>Price</td>
                                <td>Ksh 96,000</td>
                            </tr>
    
                            <tr>
                                <td>Description</td>
                                <td>i3 7th</td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="container-fluid">
                        <div class="add-to-cart-btn-cont">
                            <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                        </div>

                        <div class="add-to-cart-btn-cont del">
                            <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                        </div>
                    </div>
    
                    <!-- End of product three -->
                </div>
    
    
                <div class="child-container">
    
                    <!-- Dell product 4 -->
                    <div class="container-fluid">
                        <img src="../static/images/dell/dell.jpg" alt="Dell" class="child-image">
                    </div>
    
                    <div class="container-fluid">
                        <h3 class="heading">Dell</h3>
                    </div>
    
                    <div class="container-fluid">
                        <table class="table">
                            <tr class="table-row">
                                <td>Price</td>
                                <td>Ksh 100,000</td>
                            </tr>
    
                            <tr>
                                <td>Description</td>
                                <td>i3 7th</td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="container-fluid">
                        <div class="add-to-cart-btn-cont">
                            <a href="#"><button class="add-to-cart-btn">Add To Cart</button></a>
                        </div>

                        <div class="add-to-cart-btn-cont del">
                            <a href="#"><button class="add-to-cart-btn">Delete</button></a>
                        </div>
                    </div>
    
                    <!-- End of product four -->
                </div>
            </div>
        </div>
</body>
</html>
