<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendant Dashboard</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    

    <div class="container-fluid first-header mt-1">

        <!-- Brand -->
        <div class="brand first-header-cont">
            <h1 class="text-center mt-1 mb-1">Store Manager</h1>
        </div>

        <!-- Search  -->
        <div class="search first-header-cont">

            <div class="form-cont">
            <form> 
                <input type="text" placeholder="What Do You Want To look For" name="search" class="text-center">

                <input type="submit" value="search">
            </form>
        </div>
        </div>

        <!-- Account -->
        <div class="account first-header-cont">
                <h1 class="text-center">Account</h1>
            <ul class="account-list">
                <li><a href="attendant.html" class="link">Home</a></li>
                <li><a href="index.html" class="link">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid attendant-banner">

        <div class="overlay"></div>
        
        <!-- Attendant details -->
        <div class="details">
            <div class="detail">
                <h3>Name</h3>
                <h4>Rafael</h4>
            </div>
            <div class="detail">
                <h3>Email</h3>
                <h4>KK@hmail.com</h4>
            </div>
            <div class="detail">
                <h3>Id</h3>
                <h4>5347239742589</h4>
            </div>
        </div>

        
        <div class="circle">
            <h3>Total Sales</h3>
            <h2>Kshs <span>00.00</span></h2>
        </div>

        <div class="side-info">
            <table border ="1" bordercolor="white">
                <tr>
                    <th colspan="3">These is the list of products you have sold</th>
                </tr>

                <tr>
                    <th>Product Name</th>
                    <th>Product Id</th>
                    <th>Price</th>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
