<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billing</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="cart-box">
        <div class="container-fluid">
            <h3>Your Cart</h3>
        </div>

        <div class="container-fluid cart-box-items">
            <div class="cart-box-item">
                <h3>Product Name</h3>
            </div>
            <div class="cart-box-item">
                <h3>Product Category</h3>
            </div>
            <div class="cart-box-item">
                <h3>Product Price</h3>
            </div>
        </div>


        <div class="container-fluid cart-box-items mt-1">
            <div class="cart-box-item">
                <h5>{{Product Name}}</h5>
            </div>
            <div class="cart-box-item">
                <h5>{{Product Category}}</h5>
            </div>
            <div class="cart-box-item">
                <h5>{{Product Price}}</h5>
            </div>
        </div>

        <div class="container-fluid">
            <h2>Kshs <span>00.00</span></h2>
        </div>

        <div class="container-fluid">
            <div class="add-to-cart-btn-cont">
                <a href="#"><button class="add-to-cart-btn">Cashout</button></a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="add-to-cart-btn-cont">
                <a href="attendant.html"><button class="add-to-cart-btn">Forget</button></a>
            </div>
        </div>
    </div>
        
</body>
</html>