<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../Static/css/styles.css">
</head>
<body>
    <div class="r-form-container">
        <div class="r-row">
            <form action="create_attendant" class="form">

                <div class="r-row">
                    <h1>Delete Here</h1>
                </div>

                <div class="form-control-wrapper">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-input-text" placeholder="Enter Your Email">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-input-text" placeholder="Enter Your Password">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-input-text" placeholder="Confirm Your Password">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper-button">
                    <input type="submit" class="submit-button">
                </div>

                <div class="form-control-wrapper-button">
                    <a href="Admin_dashboard.html" class="submit-button link">Forget</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>