<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="r-form-container">
        <div class="r-row">
            <form action="add_product" class="form">

                    <div class="r-row">
                        <h1>Product Information Here</h1>
                    </div>

                <div class="form-control-wrapper">
                    <label for="product_name" class="form-label">Product Name</label>
                    <input type="text" name="product_name" class="form-input-text" placeholder="Enter Product Name">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper">
                    <label for="product_category" class="form-label">Product Category</label>
                    <input type="text" name="product_category" class="form-input-text" placeholder="Enter Product Category">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper-button">
                    <input type="submit" class="submit-button" value="Add Product">
                </div>

                <div class="form-control-wrapper-button">
                    <a href="Admin_dashboard.html" class="submit-button link">Forget</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
