<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <link rel="stylesheet" href="../Static/css/styles.css">
</head>
<body> 

    <!-- Temporarily -->
        <div class="container-fluid second-header mt-1">
            <!-- Nav bar -->
            <ul class="navbar">
                <li><a href="attendant.html" class="link">Attendant</a></li>
                <li><a href="Admin.html" class="link">Admin</a></li>
                <li><a href="Admin_dashboard.html" class="link">Admin Dashboard</a></li>
                <li><a href="attendant_dashboard.html" class="link">Attendant Dashboard</a></li>
                <li><a href="billing.html" class="link">Billing</a></li>
            </ul>     
        </div>

    <div class="r-form-container">
        <div class="r-row">
            <form action="register" class="form">

                    <div class="r-row">
                        <h1>Login Here</h1>
                    </div>

                <div class="form-control-wrapper">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-input-text" placeholder="Enter Your Username">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-input-text" placeholder="Enter Your Password">
                    <hr class="under-line">
                </div>

                <div class="form-control-wrapper-button">
                    <input type="submit" class="submit-button">
                </div>
            </form>
        </div>
    </div>
</body>
</html>